/.idea
php_errors.log
/bin
.DS_Store
node_modules
/storage/vendor
/storage/.env*
/storage/laravel
composer.lock
/.env
docs/_ide_helper.php
docs/.phpstorm.meta.php
/app/*
!/app/.gitignore
/storage/*.lock
/public/app
!/public/app/.gitignore
/public/*
!/public/*.*
/public/.DS_Store
